body, html{
  height:100%;
}
body{
  background-image: url('images/background.jpg');
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(186, 162, 66);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.addDancerButton{
  padding:5px 12px;
  float:right;
}

.danceLineUp, .moveFunny, .danceLineUpDiagonal, .returnDancerButton{
  padding:5px 12px;
  float:left;
}

.topbar{
  height:32px;
  background-color: rgb(148, 84, 0);
}

.title{
  background-color: rgb(170, 114, 30);
  font-size: 18px;
  padding:5px 12px;
  float: left;
}
.dancer{
  position:absolute;
}

.dancer:hover {
  border-color: rgb(170, 114, 30);
  border-style: dashed;
  border-width: 10px;
}